# Database
APP_DB_URL=
APP_DB_USER=
APP_DB_PASSWORD=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# JWT
APP_JWT_SECRET=
APP_ACCESS_TOKEN_EXPIRATION=

#OPTIONAL
APP_REFRESH_TOKEN_EXPIRATION=

# Google OAuth
#OPTIONAL
APP_GOOGLE_CLIENT_ID=
APP_GOOGLE_CLIENT_SECRET=
APP_REDIRECT_URL=