# ==================== AIRFLOW ====================
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
AIRFLOW__CORE__FERNET_KEY=fV0Q6G7OPTYbsGwwyEAAyeMeu9IubYFpEp_Kn6Aqkbc=
AIRFLOW__API_AUTH__JWT_SECRET=c90b212039f328f5579beb4443bf36606dd94d17db0e7672589a08ea30075be9

# ==================== POSTGRES ====================
POSTGRES_USER=insight
POSTGRES_PASSWORD=insight
POSTGRES_DB=insight


# ==================== GRAFANA ====================
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin