# ==================== AIRFLOW ====================
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
AIRFLOW__CORE__FERNET_KEY=your-fernet-key
AIRFLOW__API_AUTH__JWT_SECRET=your-jwt-key

# ==================== POSTGRES ====================
POSTGRES_USER=insight
POSTGRES_PASSWORD=insight
POSTGRES_DB=insight


# ==================== GRAFANA ====================
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin